// Window rules.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^code$"#
    default-column-width {}

    background-effect {
        blur true
        xray false
    }

    opacity 0.95
}

window-rule {
    match app-id=r#"^kitty$"#

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id=r#"^firefox$"#
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="VirtualBox Machine"
    open-maximized true
}
